@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: all 100ms ease-in;
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.75;
  stroke: #ff6347;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: animDraw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#green {
  fill: none;
  opacity: 0.5;
  stroke: #39ff14;
  stroke-width: 12;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: animDraw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 1;
  stroke: #06a1c4;
  stroke-width: 12;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: animDraw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes animDraw {
  to {
    stroke-dashoffset: 0;
  }
}

.title-container {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  animation: animContainer 2s ease-in-out 7s forwards;
}

@keyframes animContainer {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  
  50% {
    margin-top: -100px;
    opacity: 0;
  }
  
  100% {
    margin-top: -200px;
    opacity: 1;
  }
}

.title-text {
  background-image: linear-gradient(135deg, #fffafa, #b31b1b, #0054b4, #50c878, #100c08, #100c08, #50c878, #0054b4, #b31b1b, #fffafa);
  background-clip: border-box;
  background-size: 200% auto;
  color: #fffafa;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 7.5rem;
  margin-top: -65px;
}

@keyframes animTitle {
  to {
    background-position: 200% center;
  }
}

.year-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 200px 100px 0px 0px;
}

.year-container>span {
  font-family: 'Train One', cursive;
  font-size: 175px;
  font-weight: 700;
  color: #e6e6f9;
}

span.old-digit {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -245px;
  margin-top: -27px;
  animation: animOldDigit 5s ease-in-out 5s forwards;
}

span.new-digit {
  position: absolute;
  right: 0%;
  margin-right: -250px;
  animation: animNewDigit 6s ease-in-out forwards;
}

span.new-digit:before {
  content: '';
  width: 0px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #e6e6f9;
  transform: rotate(0deg);
  transform-origin: left top;
  position: absolute;
  left: 50px;
  top: 65px;
  z-index: -1;
  animation: animAnchor 1s ease-in-out 4s;
}

.balloon {
  width: 100px;
  height: 100px;
  display: block;
  background: #8F3D90;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -165px;
  right: 0%;
  margin-right: -200px;
  animation: animBalloon 10s ease-in-out forwards;
}

.balloon:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #b19b32 transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  z-index: -1;
}

.balloon:after {
  content: '';
  width: 4px;
  height: 100px;
  display: block;
  background: #fff;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  bottom: -110px;
}
#musicToggle{
  position: fixed;
  top: 100px; 
  right: 400px; 
  z-index: 1000; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #884688;
  color: white;
}
#musicToggle:hover{
  scale: 1.2;
  
  
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}

@keyframes animNewDigit {
  0% {
    right: 0%;
  }
  
  66.6% {
    right: 50%;
    margin-right: -350px;
  }
  
  90% {
    right: 50%;
    margin-right: -350px;
  }
  
  100% {
    right: 50%;
  }
}

@keyframes animBalloon {
  0% {
    right: 0%;
  }
  
  40% {
    right: 50%;
    margin-right: -350px;
  }
  
  50% {
    right: 50%;
    margin-right: -247px;
    top: 50%;
  }
  
  100% {
    top: -100%;
    right: 50%;
    margin-right: -247px;
  }
}

@keyframes animAnchor {
  0% {
    transform: rotate(-30deg);
    width: 35px;
  }
  
  100% {
    transform: rotate(-180deg);
    width: 80px;
  }
}

@keyframes animOldDigit {
  0% {
    top: 50%;
  }
  
  100% {
    top: -100%;
  }
}